<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Icon Widgets</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSUserActivityTypes</key>
    <array>
        <string>MultiWidgetTypeIntent</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>Allow Icon Widgets to track you activity across other companies, apps and websites? This helps Icon Widgets create a personalized experience for you.</string>
    <key>UIAppFonts</key>
    <array>
        <string>OpenSans-SemiBoldItalic.ttf</string>
        <string>OpenSans-SemiBold.ttf</string>
        <string>OpenSans-Regular.ttf</string>
        <string>OpenSans-MediumItalic.ttf</string>
        <string>OpenSans-Medium.ttf</string>
        <string>OpenSans-LightItalic.ttf</string>
        <string>OpenSans-ExtraBoldItalic.ttf</string>
        <string>OpenSans-Italic.ttf</string>
        <string>OpenSans-ExtraBold.ttf</string>
        <string>OpenSans-BoldItalic.ttf</string>
        <string>OpenSans-Bold.ttf</string>
        <string>Montserrat-Black.ttf</string>
        <string>Montserrat-ExtraBoldItalic.ttf</string>
        <string>Montserrat-BoldItalic.ttf</string>
        <string>Montserrat-ExtraBold.ttf</string>
        <string>Montserrat-MediumItalic.ttf</string>
        <string>Montserrat-ExtraLight.ttf</string>
        <string>Montserrat-ExtraLightItalic.ttf</string>
        <string>Montserrat-Bold.ttf</string>
        <string>Montserrat-Regular.ttf</string>
        <string>Montserrat-Medium.ttf</string>
        <string>Montserrat-SemiBold.ttf</string>
        <string>Montserrat-LightItalic.ttf</string>
        <string>Montserrat-ThinItalic.ttf</string>
        <string>RockoFLF.ttf</string>
        <string>LilyScriptOne-Regular.ttf</string>
        <string>Montserrat-Light.ttf</string>
        <string>Montserrat-SemiBoldItalic.ttf</string>
        <string>Montserrat-Italic.ttf</string>
        <string>Montserrat-BlackItalic.ttf</string>
        <string>RockoFLF-Bold.ttf</string>
        <string>Montserrat-Thin.ttf</string>
        <string>Organo.ttf</string>
        <string>Monserga-regular-FFP.ttf</string>
        <string>Typo_Round_Bold_Italic_Demo.otf</string>
        <string>Typo_Round_Italic_Demo.otf</string>
        <string>Typo_Round_Thin_Italic Demo.otf</string>
        <string>Typo_Round_Light_Demo.otf</string>
        <string>YoureInvited.otf</string>
        <string>Typo_Round_Thin_Demo.otf</string>
        <string>Brightons-ZVGXl.ttf</string>
        <string>Typo_Round_Regular_Demo.otf</string>
        <string>Typo_Round_Bold_Demo.otf</string>
        <string>Typo_Round_Light_Italic_Demo.otf</string>
        <string>The Delicate DEMO.ttf</string>
        <string>RockoUltraFLF.ttf</string>
        <string>RockoUltraFLF-Bold.ttf</string>
        <string>Optien.ttf</string>
        <string>Cameronsansbold-Brd5.ttf</string>
        <string>DenseLetters-nRgDO.otf</string>
        <string>junegull.ttf</string>
        <string>SweetSensationsPersonalUse-lRgq.ttf</string>
        <string>DancingScript-Regular.ttf</string>
        <string>ALBA____.TTF</string>
        <string>DancingScript-Bold.ttf</string>
        <string>AlexBrush-Regular.ttf</string>
        <string>ALBAM___.TTF</string>
        <string>Allura-Regular.ttf</string>
        <string>SilverForte-4qKp.ttf</string>
        <string>AmericanCaptain-MdEY.otf</string>
        <string>ChocolatedealerBold-534x.otf</string>
        <string>teen bd it.ttf</string>
        <string>teen bd.ttf</string>
        <string>SmellADaisyPersonalUse-MVpdn.ttf</string>
        <string>ALBAS___.TTF</string>
        <string>teen it.ttf</string>
        <string>Skatersdemo-ZVqmm.ttf</string>
        <string>Typographica-Blp5.ttf</string>
        <string>Cameronsanslight-MXBr.ttf</string>
        <string>TheBrands-K7BxD.otf</string>
        <string>DiezmaRdExtraBold-jGpy.ttf</string>
        <string>DisciplinaDemo-BWGld.ttf</string>
        <string>MomcakeBold-WyonA.otf</string>
        <string>ManhandleSlab-2e9X.ttf</string>
        <string>teen lt it.ttf</string>
        <string>monogeb_.ttf</string>
        <string>LandasansUltraLight-qZ080.otf</string>
        <string>DreamwoodDemoRegular-Zj3q.ttf</string>
        <string>DulkanycaBold-2R3e.ttf</string>
        <string>Franky-3zZMp.otf</string>
        <string>Kakkoi-ywjl3.otf</string>
        <string>LandasansMedium-ALJ6m.otf</string>
        <string>Kindsonfree-x3voV.otf</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    <key>UISceneStoryboardFile</key>
                    <string>Main</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>NSAdvertisingAttributionReportEndpoint</key>
    <string>https://postbacks-is.com</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3905803916884899~5220026419</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>su67r6k2v3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4fzdc2evr5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4pfyvq9l8r.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2fnua5tdw4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ydx93a7ass.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5a6flpkh64.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>p78axxw29g.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v72qych5uu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ludvb6z3bs.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cp8zw746q7.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3sh42y64q3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>c6k4g5qg8m.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>s39g8k73mm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qy4746246.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>f38h382jlk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>hs6bdukanm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v4nxqhlyqp.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>wzmmz9fp6w.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>yclnxrl5pm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>t38b2kh725.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7ug5zh24hu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>gta9lk7p23.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>vutu7akeur.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>y5ghdn5j9k.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n6fk4nfna4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v9wttpbfk9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n38lu8286q.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>47vhws6wlr.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>kbd757ywx3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9t245vhmpl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>eh6m2bh4zr.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>a2p9lx4jpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>22mmun2rn5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4468km3ulz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2u9pt9hc89.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8s468mfl3y.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>klf5c3l5u5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ppxm28t8ap.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ecpz2srf59.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>uw77j35x4d.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>pwa73g5rt2.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>mlmmfzh3r3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>578prtvx9j.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4dzt52r2t5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>e5fvkxwrpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8c4e2ghe7u.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>zq492l623r.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3rd42ekr43.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qcr597p9d.skadnetwork</string>
      </dict>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
